- content_for :title, "About"
%h1 About
%p
  The
  %a{:href => "http://www.truecar.com"} TrueCar
  Sandbox Application is a project to explore ideas about the upcoming
  MyGarage project at  
  = succeed "." do
    %a{:href => "http://www.truecar.com"}TrueCar
  This
  is the sample application for those ideas.
