- content_for :title, "Help"
%h1 Help
%p
  To use this application, simply sign in or create a new account and enter 
  VIN's into the field provided. Valid VINs will be stored into each user's 
  personal MyGarage and can be deleted by the user. You can also view other 
  user's garages by going to the 'Community' section at the top of website.
  %br 
  %br
  The data is being pulled from the
  %a{:href => "http://www.clearbook.com"} ClearBook 
  engine and more information about car pricing can be at found there.
