%h1 Help
%p
  To get an idea of how to navigate and use this application, check out 
  = succeed "." do
    %a{:href => "http://www.clearbook.com"} ClearBook
  This will serve as an example of what the application should be providing, but 
  with the added MyGarage feature.
