.center.hero-unit
  %h1 TrueCar is Fucking AWESOME!!
  %h2
    This is the home page for 
    %a{:href => "https://www.truecar.com"}TrueCar's 
    MyGarage sandbox application.
  = link_to "Get your daily value now!", '#', class: "btn btn-large btn-primary"
= link_to image_tag("truecar.png", size: "125x125", alt: "TrueCar"), 'http://www.truecar.com'
