%footer.footer
  %small
    %a{href: "http://www.truecar.com"}TrueCar
    Sandbox Application by James Oh
  %nav
    %ul
      %li 
        = link_to 'About', about_path
      %li 
        = link_to 'Contact', contact_path
